<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aefottt.module_shop">

    <application android:theme="@style/AppTheme">
        <activity android:name="com.mredrock.cyxbs.shop.pages.stampcenter.activity.ShopActivity" />
    </application>

</manifest>